.menu {
  min-width: 9rem;
  border-radius: 0 0 0.5rem 0.5rem;
  top: -7.5rem;
  right: 0.05rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  transition: all 0.35s linear;
  z-index: 1;
  background-color: $white-primary;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px,
    inset 0 7px 9px -7px rgba(0, 0, 0, 0.1),
    inset 7px 0 1px -7px rgba(0, 0, 0, 0.4),
    inset -7px 0 1px -7px rgba(0, 0, 0, 0.4),
    inset 0 -7px 1px -7px rgba(0, 0, 0, 0.4);
  position: absolute;
  pointer-events: none;

  &.show-menu {
    opacity: 1;
    top: 0;
    z-index: 2;
    pointer-events: all;
  }

  ul {
    list-style: none;

    li {
      &:nth-child(2) i {
        font-size: 1rem;
      }

      & > button {
        padding: 0 0.5rem;

        &:active {
          transform: none;
        }
      }

      &.active {
        & > button {
          color: $blue-primary;
        }

        ul li {
          height: 2rem;
          opacity: 1;
          padding: 0 0.4rem;

          visibility: visible;
        }
      }

      ul {
        li {
          height: 0;
          opacity: 0;
          visibility: hidden;
          padding: 0 0.4rem;
          transition: 0.3s linear;
        }
      }
    }

    button {
      height: 2rem;
      cursor: pointer;
      transition: all 0.1s linear;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      font-size: 1rem;
      color: #555555;

      span {
        width: 25px;
        height: 100%;
        display: grid;
        place-items: center;
        margin-right: 0.5rem;

        i {
          font-size: 1.1rem;
          transform: translateY(1px);
          color: $blue-primary;

          &.flip {
            transform: scaleX(-1);
          }
        }
      }

      &:not(.menu__btn--login).hide {
        display: none;
      }

      &:hover {
        color: $blue-primary;
      }
      &:active {
        transform: scale(0.98);
      }
    }
  }
}
