@use "../utils/_mixins" as shared;

.modal__account-update {
  @include shared.modalContainer;

  width: 350px;
  height: 300px;
  justify-content: space-between;
  transform: translateY(12%);

  &.open-modal {
    @include shared.showModal;
  }

  .modal__update__credentials {
    width: 100%;
    height: 65%;
    padding: 1.3rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    .infoMsg {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: -0.5rem;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      font-size: 0.9rem;

      &.show {
        visibility: visible;

        &.error {
          color: $red-secondary;
        }

        &.success {
          color: $green-primary;
        }
      }
    }

    .error-hint,
    .error-hint-length,
    .error-hint-number,
    .error-hint-required {
      position: absolute;
      bottom: -1rem;
      font-size: 0.8rem;
      visibility: hidden;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      transition: all 0.1s ease-in;

      .invalid-input {
        color: $red-secondary;
        visibility: visible;
      }

      input {
        @include shared.modalAddEditInput;
        width: 100%;
        padding: 0 0.8rem;

        &#user-name,
        &#user-email {
          pointer-events: none;
        }
      }

      label {
        font-size: 1.1rem;
        color: $grey-semi-light;
        position: absolute;
        left: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.45s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        pointer-events: none;
      }
    }
    .userName-input input {
      text-transform: capitalize;
    }
    .userEmail-input input,
    .newUserEmail-input input {
      text-transform: lowercase;
    }
  }

  .modal__update__buttons {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    button {
      @include shared.modalButton;
      width: 40%;
      text-transform: capitalize;
    }

    &-update {
      &.disable {
        background-color: $blue-primary;
        color: $white-secondary;
        pointer-events: none;
      }
    }
  }

  .modal__update__change {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    position: relative;

    button {
      outline: none;
      border: none;
      font-size: 1.05rem;
      text-transform: capitalize;
      align-self: center;
      background-color: transparent;
      transition: $transition;
      cursor: pointer;
      color: $grey-semi-light;

      &.hide {
        visibility: hidden;
        transition: none;
      }

      &:hover,
      &.active {
        color: $blue-primary;
      }

      &.active {
        transform: scale(1.15);
      }

      &.active {
        cursor: default;
        pointer-events: none;
      }
    }
  }
}
