@use "../utils/_mixins" as shared;

.modal__auth {
  @include shared.modalContainer;

  width: 350px;
  height: 300px;
  justify-content: space-between;
  transform: translateY(12%);

  &.open-modal {
    @include shared.showModal;
  }

  &__change {
    @include shared.centerElements;
    width: 100%;
    height: 15%;
    position: relative;

    &__button {
      outline: none;
      border: none;
      font-size: 1.05rem;
      text-transform: capitalize;
      align-self: center;
      background-color: transparent;
      transition: $transition;
      cursor: pointer;
      color: $grey-semi-light;

      &.hide {
        visibility: hidden;
        transition: none;
      }

      &:hover {
        color: $blue-primary;
        transform: scale(1.15);
      }
    }
  }

  &__credentials {
    width: 100%;
    height: 65%;
    padding: 1.3rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    .infoMsg {
      @include shared.infoMsg;
      bottom: -0.5rem;

      &.show {
        visibility: visible;

        &.error {
          color: $red-secondary;
        }

        &.success {
          color: $green-primary;
        }
      }
    }

    .error-hint,
    .error-hint-length,
    .error-hint-number,
    .error-hint-required {
      @include shared.inputErrorHint;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      transition: all 0.1s ease-in;

      &.password-input input {
        text-transform: none;
      }

      .icon {
        @include shared.passwordIcon;
      }

      .invalid-input {
        color: $red-secondary;
        visibility: visible;
      }

      input {
        @include shared.modalAddEditInput;
        width: 100%;
        padding: 0 0.8rem;
      }

      label {
        @include shared.inputsLabel;
      }
    }
    .userName-input input {
      text-transform: capitalize;
    }
    .userEmail-input input {
      text-transform: lowercase;
    }
  }

  &__buttons {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    button {
      @include shared.modalButton;
      width: 40%;
      text-transform: capitalize;
    }

    &-auth {
      &.disable {
        background-color: $blue-primary;
        color: $white-secondary;
        pointer-events: none;
      }
    }
  }
}
