@use "../utils/_mixins" as shared;

.modal__account-delete {
  @include shared.modalContainer;
  width: 330px;
  height: 255px;
  transform: translateY(35%);
  padding: 0.5rem;
  justify-content: space-between;

  &.open-modal {
    @include shared.showModal;
  }

  .modal__account__alert {
    width: 100%;
    height: 110px;
    padding: 0 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font-size: 0.95rem;
      color: #555555;

      &:first-child {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  form {
    width: 100%;
    position: relative;

    .infoMsg {
      @include shared.infoMsg;
      color: $red-secondary;
      bottom: -1.5rem;

      &.show {
        visibility: visible;
      }
    }

    div {
      width: 100%;
      padding: 0 0.5rem;
      display: flex;
      justify-content: center;
      position: relative;
      transition: all 0.1s ease-in;

      .error-hint-required {
        @include shared.inputErrorHint;
      }

      .invalid-input {
        color: $red-secondary;
        visibility: visible;
      }

      input {
        @include shared.modalAddEditInput;
        width: 100%;
        padding: 0 0.8rem;

        &#user-name,
        &#user-email {
          pointer-events: none;
        }
      }

      label {
        @include shared.inputsLabel;
        left: 1.3rem;
      }
    }
  }

  .modal__account__buttons {
    width: 100%;
    height: 20%;
    display: flex;
    padding: 0 0.5rem;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .loadingIcon {
      left: 50%;
      top: -0.8rem;
    }

    button {
      @include shared.modalButton;
      width: 40%;
      text-transform: capitalize;

      &.disable {
        background-color: $blue-primary;
        color: $white-secondary;
        pointer-events: none;
      }
    }
  }
}
