@use "../utils/_mixins" as shared;

.modal__contact-info {
  @include shared.modalContainer;
  width: 300px;
  height: 440px;
  padding: 0.3rem;
  justify-content: space-between;
  transform: translateY(12%);

  &.open-modal {
    @include shared.showModal;
  }

  .top_info {
    width: 100%;
    height: 28%;
    display: flex;
    position: relative;
    background-color: $blue-primary;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 4px, inset 0px 0px 1px;

    &-avatar {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      bottom: -35%;
      left: 50%;
      display: flex;
      align-items: center;
      transform: translateX(-50%);
      border: 5px solid $white-primary;
      background-color: $white-primary;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.2) inset 0px 0px 6px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px;
      }

      p {
        width: 100%;
        font-size: 3.5rem;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        color: $blue-primary;
      }
    }
  }

  .bottom_info {
    width: 100%;
    height: 62%;

    &-name {
      width: 100%;
      height: 20%;
      font-size: 1.7rem;
      text-transform: capitalize;
      text-align: center;
      color: $blue-primary;

      &-underline {
        width: 60%;
        height: 0.15rem;
        margin-top: 1rem;
        margin-left: 0.5rem;
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
        background-color: rgba(200, 200, 200, 1);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px;
      }
    }

    &-details {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        display: flex;
        align-items: flex-start;
        color: $grey-dark;
        margin-left: 0.5rem;

        span {
          opacity: 0.6;
        }

        a {
          outline: none;
        }

        &:first-child {
          font-size: 1.6rem;
          color: $grey-semi-dark;
        }

        &:nth-child(2) {
          position: relative;

          .copied {
            position: absolute;
            top: -1rem;
            left: 4rem;
            font-style: italic;
            color: $blue-primary;
            opacity: 0;
            transition: 0.2s linear;

            &.show {
              opacity: 1;
            }
          }
        }

        &:last-child {
          word-wrap: break-word;
        }

        .fas,
        .far {
          font-size: 1.4rem;
          margin-right: 0.5rem;
          color: $blue-primary;
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15));
        }

        .fa-phone-alt {
          font-size: 1.2rem;
          margin-right: 0.5rem;
          color: $green-primary;
          align-self: center;
          transform: rotate(20deg) translateY(-0.1rem);
        }

        .fa-map-marker-alt {
          margin-left: 0.1rem;
        }

        .fas.fa-copy,
        .fas.fa-location-arrow {
          margin-left: 0.5rem;
          font-size: 1rem;
          color: $grey-semi-light-2;
          cursor: pointer;
          transition: 0.3s linear;

          &:active {
            transform: scale(0.7);
          }

          &:hover {
            color: $grey-semi-dark;
          }
        }
      }

      .bottom_info-close-btn {
        @include shared.modalButton;
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}
