@import "_variables";

@mixin showModal {
  visibility: visible;
  z-index: 10;
  transform: translateY(0);
  opacity: 1;
}

@mixin modalContainer {
  display: flex;
  flex-direction: column;
  color: $grey-dark-secondary;
  transition: 0.2s linear;
  transition-delay: 0.1s;
  opacity: 0;
  visibility: hidden;
  z-index: -10;
  position: absolute;
  border-radius: 0.5rem;
  background-color: $white-primary;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px, inset 0 0 5px rgba(0, 0, 0, 0.3);
}

@mixin modalAddEditInput {
  outline: none;
  border: none;
  height: 30px;
  box-shadow: rgba(225, 225, 225, 1) 0px 0px 0px 1px;
  padding: 0.1rem 0;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-family: inherit;
  text-transform: capitalize;
  background-color: rgba(225, 225, 225, 0.2);
  color: $blue-primary;

  &:focus,
  &:valid {
    background-color: transparent;

    & + label {
      transform: translateY(-33px);
      font-size: 0.8rem;
      font-weight: bold;
      letter-spacing: 0.5px;
      color: $grey-semi-dark;
      color: #555555;

      span {
        color: $red-secondary;
      }
    }
  }
}

@mixin modalButton {
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 1.5rem;
  transition: all 0.2s linear;
  background-color: $blue-primary;
  color: $white-primary;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 3px, inset 0px 0px 2px;

  &:active {
    -webkit-box-shadow: inset 1px 2px 2px #535557;
    -moz-box-shadow: inset 1px 2px 2px #535557;
    box-shadow: inset 1px 2px 2px #535557;
  }

  &:hover {
    opacity: 0.9;
  }
}

@mixin centerElements {
  display: flex;
  align-items: center;
  justify-content: center;
}
