@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lobster&display=swap");
@import "../utils/_variables";
@import "../utils/keyframes";

::selection {
  background-color: $blue-primary;
  color: $white-secondary;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  // background-color: #a5aaad;
  // background-color: #505061;
  background-color: #eee;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  margin-top: 6vh;
  width: 40rem;
  height: 87vh;
  border-radius: 0.6rem;
  // border: 1.5px solid #aaaeb3;
  border: 1.5px solid #c7c7c7;
  // border-top: 1.5px solid #9b9ea3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loadingIcon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 45px;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.show {
    visibility: visible;
  }

  div {
    position: absolute;
    // top: 33px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $blue-primary;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}
