body {
  &.dark-mode {
    background-color: $dark-mode-primary;

    ::selection {
      background-color: $dark-mode-clr;
    }

    .loadingIcon {
      div {
        background-color: $dark-mode-clr;
      }
    }

    main {
      border: 1.5px solid $dark-mode-3;

      nav {
        background-color: $dark-mode-secondary;

        .hintIcon {
          div {
            border-bottom: 4px solid rgba(225, 225, 225, 0.1);
            border-right: 4px solid rgba(225, 225, 225, 0.1);
          }
        }

        .input__container {
          input {
            color: $grey-light;
            background-color: rgba(225, 225, 225, 0.1);
            box-shadow: rgba(225, 225, 225, 0.2) 0px 0px 0px 1px;

            &::placeholder {
              color: $grey-semi-light-2;
            }
          }
          .fa-search {
            color: $grey-semi-light-2;
          }
        }

        button {
          background-color: $dark-mode-clr;
          color: $grey-light;
        }
      }

      .list__container {
        .list {
          background-color: $dark-mode-1;
          scrollbar-color: $dark-mode-1 $dark-mode-1;
          border-top: none;

          &::-webkit-scrollbar-track {
            background-color: $dark-mode-1;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $dark-mode-1;
          }

          &.move {
            background-color: $dark-mode-1;
            scrollbar-color: $dark-mode-clr $dark-mode-1;

            &::-webkit-scrollbar-thumb {
              background-color: $dark-mode-clr;
            }
          }

          &__top-opacity {
            background: linear-gradient($dark-mode-1 25%, transparent);
          }

          &__content {
            .list__bottom-opacity {
              background: linear-gradient(transparent, $dark-mode-1 75%);
            }

            .list__contacts {
              .message {
                &__icon,
                &__text {
                  color: $grey-semi-light-2;
                }
              }

              .alphabet-sequence {
                background-color: $dark-mode-secondary;
                color: $dark-mode-clr;
              }

              .contact-list li {
                background-color: $dark-mode-4;

                .contact-img {
                  background-color: $dark-mode-clr;
                  color: $white-secondary;
                  box-shadow: rgba(150, 150, 150, 1) 0px 0px 2px;

                  .fa-check {
                    color: $dark-mode-clr;
                    background-color: $grey-light;
                    box-shadow: rgba(0, 0, 0, 0.5) inset 0px 0px 2px;

                    &.hover {
                      background-color: $dark-mode-clr;
                      color: $white-secondary;
                    }
                  }
                }

                .contact {
                  color: $white-secondary;
                  p {
                    color: $grey-light;

                    &:first-child:hover {
                      color: $dark-mode-clr;
                    }
                    &:nth-child(2) {
                      color: $grey-light-2;
                    }
                  }
                }

                .submenu {
                  background-color: $dark-mode-4;

                  &.show button {
                    cursor: pointer;
                    pointer-events: all;
                  }

                  button {
                    color: $grey-light-2;

                    &:hover {
                      color: $dark-mode-clr;
                    }
                  }
                }

                .submenu-icon img {
                  filter: invert(40%) sepia(7%) saturate(214%)
                    hue-rotate(177deg) brightness(96%) contrast(82%);

                  &.active {
                    filter: invert(50%) sepia(97%) saturate(1486%)
                      hue-rotate(205deg) brightness(90%) contrast(98%);
                  }
                }
              }
            }

            .list__contacts-amount {
              color: $white-secondary;
            }
          }
        }

        .letters__container {
          background-color: $dark-mode-secondary;

          .letters__letter,
          .no-name {
            background-color: $dark-mode-secondary;

            a {
              color: $dark-mode-clr;
            }
          }
        }

        .menu {
          background-color: $dark-mode-secondary;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px,
            inset 0 7px 9px -7px rgba(0, 0, 0, 0.3),
            inset 7px 0 1px -7px rgba(0, 0, 0, 0.4),
            inset -7px 0 1px -7px rgba(0, 0, 0, 0.4),
            inset 0 -7px 1px -7px rgba(0, 0, 0, 0.4);

          button {
            color: $grey-semi-light-2;
            &:hover {
              color: $dark-mode-clr;
            }
          }
        }
      }

      /* modals */
      .modal__backdrop {
        .modal__contact-info {
          background-color: $dark-mode-2;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px, inset 0 0 1px $dark-mode-primary;

          .top_info {
            background-color: $dark-mode-clr;

            &-avatar {
              border: 5px solid $dark-mode-2;
              background-color: $white-secondary;
              background-color: $grey-light;

              box-shadow: none;

              p {
                color: $dark-mode-clr;
              }
            }
          }

          .bottom_info {
            &-name {
              color: $dark-mode-clr;
            }
            &-details p {
              color: $grey-light-2;

              &:first-child {
                color: $white-secondary;
              }
              &:nth-child(2) .copied {
                color: $dark-mode-clr;
              }

              .fas,
              .far {
                color: $dark-mode-clr;
              }

              .fas.fa-copy,
              .fas.fa-location-arrow {
                color: $grey-semi-light-2;

                &:hover {
                  color: $grey-light-2;
                }
              }

              .fa-phone-alt {
                color: $green-primary;
              }
            }

            .bottom_info-close-btn {
              background-color: $dark-mode-clr;
              color: $grey-light;
            }
          }
        }

        .modal__contact-add {
          background-color: $dark-mode-2;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px, inset 0 0 1px $dark-mode-primary;

          .avatar-container {
            box-shadow: rgba(120, 120, 120, 1) 0px 0px 2px;

            label {
              box-shadow: rgba(120, 120, 120, 1) 0px 0px 3px;
            }
          }

          form input {
            color: $dark-mode-clr;
            background-color: rgba(225, 225, 225, 0.1);
            box-shadow: rgba(225, 225, 225, 0.2) 0px 0px 0px 1px;

            &:focus,
            &:valid {
              background-color: transparent;
              & + label,
              & + label {
                color: $grey-semi-light-2;
              }
            }
          }

          .new-con-btns button {
            background-color: $dark-mode-clr;
            color: $grey-light;
          }
        }

        .modal__contact-delete {
          background-color: $dark-mode-2;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px, inset 0 0 1px $dark-mode-primary;

          .confirm-question p {
            color: $grey-semi-light-2;
            color: $grey-light-2;

            .selected-contact {
              color: $dark-mode-clr;
              text-shadow: none;
            }
          }

          .confirm-btns button {
            background-color: $dark-mode-clr;
            color: $grey-light;
          }
        }

        .modal__contact-update {
          background-color: $dark-mode-2;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px, inset 0 0 1px $dark-mode-primary;

          .modal__update__change button {
            &:hover,
            &.active {
              color: $dark-mode-clr;
            }
          }
          .modal__update__credentials {
            div {
              input {
                color: $dark-mode-clr;
                background-color: rgba(225, 225, 225, 0.1);
                box-shadow: rgba(225, 225, 225, 0.2) 0px 0px 0px 1px;

                &:focus,
                &:valid {
                  background-color: transparent;
                  & + label,
                  & + label {
                    color: $grey-semi-light-2;
                  }
                }
              }
            }
          }

          .modal__update__buttons button {
            background-color: $dark-mode-clr;
            color: $grey-light;
          }
        }

        .modal__auth {
          background-color: $dark-mode-2;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px, inset 0 0 1px $dark-mode-primary;
          &__change {
            &__button {
              &:hover {
                color: $dark-mode-clr;
              }
            }
          }
          &__credentials {
            div {
              input {
                color: $dark-mode-clr;
                background-color: rgba(225, 225, 225, 0.1);
                box-shadow: rgba(225, 225, 225, 0.2) 0px 0px 0px 1px;

                &:focus,
                &:valid {
                  background-color: transparent;
                  & + label,
                  & + label {
                    color: $grey-semi-light-2;
                  }
                }
              }
            }
          }

          &__buttons button {
            background-color: $dark-mode-clr;
            color: $grey-light;
          }
        }
      }
    }

    footer {
      color: $grey-semi-light-2;

      a {
        color: $dark-mode-clr;
      }
    }
  }
}
