nav {
  width: 100%;
  height: 9%;
  background-color: #fff;
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  position: relative;

  .hintIcon {
    position: absolute;
    top: 50%;
    right: 7rem;
    transform: translateY(-50%) rotate(-90deg);
    transition: $transition;

    &.opacity {
      opacity: 0;
      visibility: hidden;
    }

    &.hide {
      display: none;
    }

    div {
      border-radius: 3px;
      display: block;

      width: 16px;
      height: 16px;
      border-bottom: 4px solid rgba(225, 225, 225, 0.9);
      border-right: 4px solid rgba(225, 225, 225, 0.9);
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;

      &:nth-child(2) {
        animation-delay: -0.2s;
      }

      &:nth-child(3) {
        animation-delay: -0.4s;
      }
    }
  }

  .input__container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &.disable {
      pointer-events: none;
    }

    input {
      width: 100%;
      height: 38px;
      font-family: inherit;
      font-size: 1.2rem;

      color: #878788;
      padding: 0 2.2rem 0 1rem;
      border-radius: 1.5rem;
      border: none;
      outline: none;
      transition: all 0.3s linear;
      box-shadow: rgba(225, 225, 225, 1) 0px 0px 0px 1px;
      background-color: rgba(225, 225, 225, 0.2);
      z-index: 1;

      &:hover {
        &::placeholder {
          opacity: 0.85;
        }
        & + .input__search-icon .fa-search {
          opacity: 0.75;
        }
      }

      &:focus,
      &:valid {
        background-color: transparent;

        & + .input__search-icon .fa-search {
          opacity: 0;
        }
      }

      &::placeholder {
        color: #878788;
        opacity: 1;
        letter-spacing: 0.5px;
        font-size: 1rem;
        font-style: italic;
        transition: 0.25s ease-in-out;
      }
    }

    .input__search-icon {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 11%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .fa-search {
        color: #878788;
        transition: 0.1s ease-in-out;
      }
    }
  }

  button {
    height: 65%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s linear;
    background-color: #6683b7;
    color: $white-secondary;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    &:active {
      -webkit-box-shadow: inset 1px 2px 2px #535557;
      -moz-box-shadow: inset 1px 2px 2px #535557;
      box-shadow: inset 1px 2px 2px #535557;
    }

    * {
      margin: 0;
      padding: 0;
      font-weight: bold;
    }

    .fa-address-book,
    .fa-user-plus {
      margin-top: 0.1rem;
    }

    &.nav__btn--show {
      width: 11%;
      padding: 0 0.4rem 0 0.4rem;

      &.hide {
        visibility: hidden;
      }
    }

    &.nav__btn--add {
      width: 19%;
      padding: 0 0.4rem 0 0.4rem;
      background-color: #6683b7;
      color: $white-primary;

      &.hide {
        visibility: hidden;
      }
    }

    &.nav__btn--menu {
      width: 35px;
      height: 35px;
      border-radius: 50%;

      .fa-bars {
        pointer-events: none;
      }
    }
  }
}
